<section>

  <div class="hero-image">
    <div class="hero-text">
      <h1>Don't Be Square</h1>
      <br />
      <br />
      <h2>Find an event</h2>
      <br />
      <br />
      <form class="eventsearch">
        <input type="text" placeholder="Search your area" name="Search">
      </form>
      <br />
      <button type="Search" class="button" value="Search"><i class="fa fa-search"></i>Search</button>
    </div>
  </div>

</section>

<section>
  
  <div class="abtsection">
    <p></p>
  </div>

</section>