<section class="section1">

<div class="hero">
  <h2>Find an event</h2>
</div>

<form class="eventsearch">
  <input type="text" placeholder="Search your area" name="Search">
  <button type="Search"><i class="fa fa-search"></i></button>
</form>

</section>