<h1>New Event</h1>

<%# Basic, maybe black nav bar, or with some gradient background.
Sign in/out on right side of nav bar. Other links on the left. 
Logo will be over a hero image under the nav bar.  %>


