@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Montserrat", Montserrat, sans-serif;
}

h2 {
  text-align: center;
}

.topnav {
  font-family: "Montserrat", Montserrat, sans-serif;
  background-color: #c7c7c7;
  height: 55px;
}

.topnav h1 {
  float: left;
  font-size: 30px;
  margin: 10px 10px;
}

.topnavlinks {
  float: right;
  margin-top: 8px;
}

.topnavlinks li {
  display: inline-block;
}

.navbar li a:hover {
  text-decoration: none;
}

.section1 {
}

.eventsearch {
  text-align: center;
}
